:root {
    --theme-one: rgb(223, 80, 80);
    --theme-two: rgb(81, 81, 230);
    --error-msg: red;
    --button-color: rgb(215, 215, 215);
    --button-highlight: rgb(228, 228, 228);
    --cell-color: white;
    --cell-highlight: rgb(233, 233, 233);
    --background-color: rgb(169, 212, 174);
}

* {
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.hidden {
    display: none;
}

#start-screen {
    display: flex;
    justify-content: center;
    align-items: center;
}

.title {
    font-size: 70px;
    font-weight: bold;
    margin: 100px 0px 100px 0px;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid purple;
    gap: 12px;
}

form label {
    color: rgb(63, 63, 63);
    font-weight: bold;
}

.error-message {
    color: var(--error-msg);
}

button {
    border: none;
    cursor: pointer;
    background-color: var(--button-color);
}

button:hover {
    scale: 1.1;
    background-color: var(--button-highlight);
}

.button-start {
    font-size: 15px;
    padding: 5px 10px;
    border-radius: 15px;
}

#play-screen {
    border: 3px solid red;
}

.playgrid {
    border: 1px solid blue;
    background-color: var(--background-color);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
    height: 600px;
}

.cell {
    border: 1px solid green;
    background-color: var(--cell-color);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 150px;
}

.cell:hover {
    background-color: var(--cell-highlight);
}

.theme-one {
    color: var(--theme-one);
}

.theme-two {
    color: var(--theme-two);
}